<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codepath.apps.restclienttemplate"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".TwitterApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme_Twitter">

        <!--LOGIN-->
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme_Twitter.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="@string/intent_host"
                    android:scheme="@string/intent_scheme" />
            </intent-filter>
        </activity>

        <!--TIMELINE-->
        <activity
            android:name=".TimelineActivity"
            android:theme="@style/AppTheme_Twitter.NoActionBar"/>

        <!--COMPOSE-->
        <activity
            android:name=".ComposeActivity"
            android:theme="@style/AppTheme_Twitter.NoActionBar"
            android:windowSoftInputMode="adjustResize" />

        <!--DETAIL-->
        <activity
            android:name=".TweetDetailsActivity"
            android:theme="@style/AppTheme_Twitter.NoActionBar"/>

        <!--PROFILE-->
        <activity
            android:name=".UserProfileActivity"
            android:theme="@style/AppTheme_Twitter.NoActionBar" />
    </application>
</manifest>